.user{
  border: 1px solid skyblue;
  background-color: steelblue;
  border-radius: 49%;
  width: 15%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 160px;
}

.contact-list{
  display: flex;
  flex-wrap: wrap;
}

.contact{
  border: 1px solid teal;
  border-radius: 7px;
  margin: 20px;
  width: 30%;
  padding: 40px 25px;
  text-align: center;
  color: white;
  background-color: teal;
  box-shadow: 7px 7px rgb(20, 61, 61);
  
}
button{
  background-color: white;
  color: rgb(20, 61, 61);
  padding: 3px 10px;
  font-size: 20px;
  border: 1px solid rgb(20, 61, 61);
  border-radius: 7px;
  cursor: pointer;
}
.comments{
  width:50%;
  background-color: teal;
  color: white;
  margin: 20px;
  border-radius: 8px;
  box-shadow:5px 5px rgb(20, 61, 61);
  padding: 10px 20px;

}